<div class="one-img-container">
  <div class="img menu-img">
      <%= image_tag('menu.jpg') %>
  </div>
</div>

<div class="two1-container small-12 small-centered columns">
  <div class="info-11"><%= link_to "Download PDF Menu", "/menu.pdf" %></div>
</div>

