<div class="direction-container">
  <div class="large-10 large-centered columns">
    <div class="panel map-input info-4 ">
      <b style="color: #fff; list-style: underline;">I can get you directions!</b>
        <br>
        <br>
          <input id="start" class="small-10 columns">
            <button class="button small" onclick="calcRoute();">directions</button>
          </input>
        <br>
    </div>
  </div>
  <div id="map-canvas" class="large-centered"></div>
</div>
