<div class="one-container">
  <div class="img">
    <%= image_tag('frontpage1.jpg') %>
  </div>
</div>

  <div class="two-container small-12 small-centered columns">
    <div class="info-1">Master Chefs</div>
      <div class="info-1">Fresh Ingredients</div>
      <div class="info-1">Not Your Average Chinese Takeout.</div>
    <div class="info-1">Yum!</div>
  </div>

<div class="three-container">
    <div class="small-6 columns">
      <div class="panel info-2">Specials</div>
        <div class="special info-3">
          <div class="dish-name">
            <li><strong>Walnut Mayonnaise Shrimp</strong></li>
          </div>
          <div class="pic1">
            <%= image_tag('frontpage.jpg') %>
          </div>
        </div>
    </div>
    <div class="panel info-2a">Hours + Information</div>
      <div class="panel small-6 columns info-3">
        <li style="text-decoration: underline;">Call</li>
        <li><strong>617-489-9577</strong></li>
        <li>382 Trapelo road</li>
        <li>Belmont, MA 02478</li>
        <li>Mon. to Thurs. 11:00am to 10:00pm</li>
        <li>Fri. + Sat. 11:00am to 11:00pm</li>
        <li>Sunday - 12:00am to 10:00pm</li>
        <li>We Deliver!</li>
      </div>
</div>

  <div class="one-footer">
    <p> Number 1 Taste chinese takout. Location: 382 Trapelo Road, Belmont Masschussetts    02478 Phone: 617.489.9577 </p>
     <ul class="right-footer">
       <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
       <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
       <% end %>
      </ul>
  </div>
