<div class="one-img-container">
  <div class="img">
    <%= image_tag('frontpage.JPG') %>
  </div>
</div>

  <div class="two-container">
    <div class="panel info-1">Master Chefs</div>
      <div class="panel info-1">Fresh Ingredients</div>
      <div class="panel info-1">Health Conscious</div>
    <div class="panel info-1">Yum!</div>
  </div>

<div class="three-container">
  <div class="panel info-2">Hours + Location</div>
  <div class="panel info-2">Directions</div>
</div>

<div class="info-container">
  <div class="panel info-3">
    <li style="text-decoration: underline;">Call</li>
    <li>617.489.9577</li>
    <li>We Deliver!</li>
  <br>
    <li>382 Trapelo road</li>
    <li>Belmont, MA 02478</li>
  <br>
    <li>Sunday to Thursday</li>
    <li>11:00AM to 11:00PM</li>
    <li>Friday and Saturday</li>
    <li>11:00AM to 12:00AM</li>
  </div>
  <div class="panel info-3">
    <li style="text-decoration: underline;">Call</li>
    <li>617.489.9577</li>
    <li>We Deliver!</li>
  <br>
    <li>382 Trapelo road</li>
    <li>Belmont, MA 02478</li>
  <br>
    <li>Sunday to Thursday</li>
    <li>11:00AM to 11:00PM</li>
    <li>Friday and Saturday</li>
    <li>11:00AM to 12:00AM</li>
  </div>
</div>

<div class="direction-container">
  <div class="panel map-input info-4 ">
    <b style="color: #333333; margin-right: 20em;">I can get you directions!</b>
    <br>
    <br>
    <input id="start" class="small-10 columns">
    <button class="button small" onclick="calcRoute();">directions</button>
    </input>

    <br>
  </div>

        <div id="map-canvas"></div>
  <div class="one-footer">
    <p> Number 1 Taste chinese takout. Location: 382 Trapelo Road, Belmont Masschussetts 02478 Phone: 617.489.9577 </p>
     <ul class="right-footer">
       <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
       <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
       <% end %>
      </ul>

  </div>
