<div class="ingredient-one-container">
  <div class="ingredient-img">
    <%= image_tag('pickingpods.jpg') %>
  </div>
</div>

  <div class="ingredient-two-container small-12 small-centered columns">
    <div class="ingredient-info-1-container">
      <div class="ingredient-info-1">We Know Our Ingredients.</div>
      <div class="ingredient-info-1">Fresh!</div>
    </div>
  </div>

<div class="three-container">
    <div class="small-6 columns">
      <div class="panel info-2">Vendors.</div>
        <div class="special info-3">
          <div class="dish-name">
            <li><strong>Walnut Mayonnaise Shrimp</strong></li>
          </div>
          <div class="pic1">
            <%= image_tag('frontpage.jpg') %>
          </div>
        </div>
    </div>
    <div class="panel info-2a">Our Environment.</div>
      <div class="panel small-6 columns info-3">
      </div>
</div>
