  <div class="onebar-container">

    <div class="small-4">
    </div>

    <div class="small-8">
    </div>

  </div>

  <div class="one-body">

    <div class="small-12 columns">
    </div>
  </div>

  <div class="one-footer">
  </div>


