.title-bar {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: 100em;
  height: 25vh;
  border-color: #B20600;
}

.title-name li {
  margin-top: .1em;
  display: inline-block;
  width: auto;
  color: #000;
}

.title span {
  color: #00B23E;
  font-size: 46px;
}
.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  list-style: none;
  color: #B20600;
}
.name {
  font-family: 'Kaushan Script', cursive;
  list-style: none;
  font-size: 20px;
  margin-left: .2em;
  text-decoration: none;
}

.navi li {
  font-family: 'Kaushan Script', cursive;
  font-size: 4vw;
  font-size: 2vh;
  display: inline-block;
  margin-top: 3em;
  margin-right: 1em;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.navi img {
  width: 4em;
  height: 3em;
}

.navi li a {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.7em;
  display: inline-block;
  list-style: none;
  color: #000;
  text-decoration: none;
}

.img > img {
  position: fixed;
  z-index: 0;
}

.logo {
  padding-top: 1vh;
  position: relative;
  width: 12vw;
  height: 12vh;
}

.pic1 {
  margin-left: 5vw;
  position: relative;
  width: 33vw;
  height: 40vh;
}

.logo {
  display: inline-block;
}

.title-bar {
  position: fixed;
  width: 100%;
}

.one-container {
  position: relative;
  height: 17vh;
  overflow: hidden;
}

.two-container {
  z-index: 1;
  position: relative;
  height: 60%;
}

.three-container {
  position: relative;
  padding-top: 1em;
  height: 75vh;
  background-color: #fff;
  border-top-width: 1em;
  border-color: #000;
}


.direction-container {
  position: relative;
  background-color: #fff;
}

.info-1 {
  width: 60%;
  font-size: 4vh;
  font-size: 4vw;
  text-align: center;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: .6em;
  margin-left: 20vw;
}

.panel {
  position: relative;
  width: 50em;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
  opacity: .85;
}

.info-2 {
  width: 33vw;
  height: 10vh;
  font-size: 16px;
  display: inline-table;
  background-color: #00B23E;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  margin-left: 10%;
}

.info-2a {
  width: 40vw;
  height: 10vh;
  font-size: 1em;
  display: inline-table;
  background-color: #00B23E;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  text-align: center;

}


.info-3 {
  background-color: #99999;
  width: 40vw;
  height: 30vh;
  font-size: 2vh;
  font-size: 2vw;
  display: inline-table;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
  margin-right: 2em;
}

.info-img {
  position: relative;
  width: 18em;
  height: 19em;
  display: inline-block;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.info-img img{
  width: 18em;
  height: 19em;
}

.info-3 li {
 list-style: none;
 text-align: center;
}

.info-4 {
  background-color: #999999;
  display: inline-table;
  font-size: 20px;
  width: 90%;
  margin-left: 2%;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.one-footer {
  height: 4em;
}

.one-footer > p {
  color: #000;
  padding-top: 2em;
  text-align: center;
}

.right-footer > li {
  margin-top: 3em;
  list-style: none;
}

.right-footer > li > a {
  margin-top: 2em;
  color: #fff;
}

.menu-one-container {
  height: auto;
  width: 80%;
  background-color: #B23070;
  position: relative;
  margin-top: 4.1em;
  margin-bottom: 1em;
}
strong > a {
  color: #228B22;
}

strong > a:hover {
  color: #FF071B;
}

.menu-two-container {
  position: relative;
}

.menu-one-container h3 {
 color: #FF071B;
}

.menu-three-container {
  height: 650px;
  position: relative;
  z-index: -1;
}

.item li {
  color: #333333;
  list-style: none;
  display: inline-table;
}


.menu-bar {
 text-align: center;
 height: 8vh;
 position: relative;
 border-top: solid 1px;
 border-bottom: solid 1px;
}
.menu-bar a {
  list-style: none;
  margin-top: 2vh;
  margin-right: 1em;
  color: #000;
  font-size: 1.5vh;
  font-size: 1.5vw;
}

.menu-bar a:hover {
  font-size: 1.5vh;
  font-size: 1.5vw;
  color: #fff;
}

.appetizer-container {
  display: none;
}

.rice-container {
  display: none;
}

.lo-mein-container {
  display: none;
}

.soups-container {
  display: none;
}

.dumplings-container {
  display: none;
}

.chicken-container {
  display: none;
}

.beef-container {
  display: none;
}

.pork-container {
  display: none;
}

.seafood-container {
  display: none;
}

.drinks-container {
  display: none;
}

.combo-container {
  display: none;
}

