.title-bar {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  width: 1500px;
  height: 5em;
  border-bottom: solid 5px;
  border-color: #B23070;
}

.title-name li {
  margin-top: .1em;
  display: inline-block;
  width: auto;
}

.title span {
  color: #00B23E;
  font-size: 46px;
}
.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  list-style: none;
  color: #B20600;
}
.name {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  list-style: none;
  color: #FF1912;
  margin-left: .2em;
  text-decoration: underline;
}

.navi li {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  display: inline-block;
  margin-top: 1.7em;
  list-style: none;
  color: #FF1912;
  text-decoration: underline;
}

.title-bar,
.img img {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.two-container,
.img img {
  position: fixed;
  z-index: 1;
  top: 0;
}

.img img {
  z-index: 0;
}

.one-img-container {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.two-container {
  position: relative;
  height: auto;
  background-color: #fff;
}

.three-container {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
  height: 150px;
  background-color: #B23070;
}

.info-container {
  position: relative;
  height: 425px;
  background-color: #B23070;
}
.direction-container {
  position: relative;
  height: auto;
  background-color: #B23070;
}

.info-1 {
  width: 10em;
  font-size: 20px;
  display: inline-table;
  background-color: #FF071B;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: -.6em;
  margin-top: -.6em;
}

.panel {
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.info-2 {
  width: 12em;
  font-size: 16px;
  display: inline-table;
  background-color: #FF071B;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.info-3 {
  vertical-align: center;
  background-color: #999999;
  width: 18em;
  height: 19em;
  font-size: 22px;
  display: inline-table;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.info-img {
  position: relative;
  width: 18em;
  height: 19em;
  display: inline-block;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.info-img img{
  width: 18em;
  height: 19em;
}

.info-3 li {
 list-style: none;
}

.info-4 {
  background-color: #999999;
  display: inline-table;
  font-size: 20px;
  width: 800px;
  color: #fff;
  border: solid 1px;
  font-family: 'Kaushan Script', cursive;
}

.one-footer {
  background-color: #FF071B;
  height: 4em;
}

.one-footer > p {
  color: #fff;
  padding-top: 2em;
  text-align: center;
}

.right-footer > li {
  margin-top: 3em;
  list-style: none;
}

.right-footer > li > a {
  margin-top: 2em;
  color: #fff;
}

.menu-one-container {
  height: auto;
  background-color: #B23070;
  position: relative;
  margin-bottom: 1em;
}
strong > a {
  color: #228B22;
}

strong > a:hover {
  color: #FF071B;
}

.menu-two-container {

  position: relative;
}

.menu-one-container h3 {
 color: #FF071B;
}

.menu-three-container {
  height: 650px;
  position: relative;
  z-index: -1;
}

.item li{
  display: inline-table;
  margin-left: 2em;
  color: #333333;
}
.menu-bar {
 text-align: center;
 height: 4em;
 border-top: solid 1px;
 border-bottom: solid 1px;
}
.menu-bar a {
  list-style: none;
  display: inline-block;
  margin: 1.2em;
  color: #000;
}

.menu-bar a:hover {
  font-size: 16px;
  color: #fff;
}

.appetizer-container {
  display: none;
}

.rice-container {
  display: none;
}

.lo-mein-container {
  display: none;
}

.soups-container {
  display: none;
}

.dumplings-container {
  display: none;
}

.chicken-container {
  display: none;
}

.beef-container {
  display: none;
}

.pork-container {
  display: none;
}

.seafood-container {
  display: none;
}

.drinks-container {
  display: none;
}


