html, #map-canvas {
  background-color: #B23070;
}

#map-canvas {
  height: 500px;
  width: 85%;
  border: solid 1px;
  border-color: #fff;
  margin-bottom: 1em;
  display: inline-table;
  margin-left: 5%
}

#start, input {
height: 2.1em;
font-size: 20px;
}





